body {
    font-size: 18px;
}

.main {
    margin: 0px;
    margin-left: 215px; /* Ou 20%. Se for 20%, mudar o Width de .side-menu também. */
}
.main-background {
    background-color: #e5e5e5;
}
.main-header {
	min-height: 50px;
	background-color: #f8f8f8;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}

.graph-width {
    width: 99%;
}

/* Title Class */
.title {
    padding-left: 10px;
	padding-top: 5px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.87);
}

/* Page Navigation Classes */
.config-animation {
	transition: all linear 0.5s;
}
.config {
    padding-top: 7px;
    padding-right: 15px;
    font-size: 30px;
    float: right;
}
.back {
    padding: 5px;
    padding-right: 10px;
    font-size: 30px;
    float: left;
}

/* General classes */
.clickable {
    cursor: pointer;
}
.capitalize {
    text-transform: capitalize;
}
.content {
    padding-top: 30px;
    padding-bottom: 55px;
}

/* Fade */
.fade {
  opacity: 1;
}
.fade.ng-enter {
  transition: 0.25s linear all;
  transition-delay: 0.25s;
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  transition: 0.25s linear all;
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}



/* Status Squares */
.color-box {
    width: 10px;
    height: 10px;
    margin: 5px;
    margin-left: 0px;
    float: right;
    border-radius: 5px;
}
.blue {
    border: 1px solid #00BFFF;
    background-color: #00BFFF;
}
.grey {
    border: 1px solid #708090;
    background-color: #708090;
}

/* Graph Box */
.outer-graph-frame {
    padding: 10px;
}

/* Config Page Classes */
.table-width {
    width: 80%;
}
.table-background {
    background-color: #ffffff;
}
.small-column {
    width: 120px;
}
.smallest-column {
    width: 1%;
}

/* Footer */
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 55px;
    width: 100%;
	background-color: #fff;
	border-top: 1px solid #C3C3C3;
}
.footer-btn {
	margin-top: 10px;
    min-width: 300px;
}

/* For the alert messages at the top of the page */
.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-radius: 0;
    z-index: 2000;
}

/* Side Menu Stuff */
.filter {
	min-width: 2000px;
}
.side-menu {
  position: fixed;
  width: 215px;
  height: 100%;
  /* Dark Menu */
  /*background-color: #455062;*/
  background-color: #FFFFFF; /* Background in the empty space (below the server list) */
  color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid #C3C3C3;
  overflow-y: auto;
}
.side-menu .navbar {
  /*background-color: #455062;*/
  background-color: #F8F8F8;
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  /*border-bottom: 1px solid #e7e7e7;*/
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a:hover {
  /*background-color: rgba(59,70,88,0.87);*/
  /*background-color: rgba(255,255,255,0.87);*/
  background-color: #dbdbdb; /* Color when hovering */
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
  background-color: #33A1DE; /* Makes DSMPN background blue. Removing turns it the same color as the rest of the sidebar.. */
  /*background-color: #e5e5e5;*/
}
.side-menu .brand-name-wrapper .navbar-brand {
  /*color: #282828; DSMPN color */
  color: #E5E5E5;
  /*color: #424242;*/
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  /*background-color: #455062;*/
  background-color: #FFFFFF;
  padding: 0;
  padding-right: 50px;
  width: 90%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  /*background-color: #f3f3f3;*/
  /*background-color: #455062;*/
  background-color: #F8F8F8;
  padding: 15px 18px;
}
.side-menu-text-color {
  color: #e7e7e7;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    /*background-color: #f8f8f8;*/
    /*background-color: #455062;
    color: rgba(255, 255, 255, 0.7);*/
    background-color: #FFFFFF;
	color: rgba(69,80,98,0.7);
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    /*background-color: #f8f8f8;*/
    /*background-color: #455062;*/
    background-color: #FFFFFF;
  }
}
