<div class="back">
    <span class="clickable" ng-click="changePage()">
        <span class="clickable glyphicon glyphicon-arrow-left"></span>
    </span>
</div>
<div align="center" class="title"></div>
<div class="content" align="center">
    <table ng-if="!props.empty" class="table table-width table-bordered table-striped table-background">
        <thead>
            <tr>
                <th>#</th>
                <th>Server</th>
                <th>Status</th>
                <th>Turn On/Off</th>
                <th class="small-column">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="server in servers track by $index">
                <th>{{$index+1}}</th>
                <th>{{server.name}}</th>
                <th class="capitalize" ng-class="{ 'text-green': server.active && server.status == 'green',
                                                   'text-yellow': server.active && server.status == 'yellow',
                                                   'text-red': server.active && server.status == 'red',
                                                   'text-black': !server.active }">
                    {{ server.active ? 'Collecting - ' + server.status : 'Not Collecting' }}</th>
                <th style="padding-left: 39px" class="small-column">
                    <button class="btn btn-default" ng-click="turn(server)"><span class="glyphicon glyphicon-off"></span></button>
                </th>
                <th style="padding-left: 16px" class="smallest-column">
                    <button class="btn btn-default" ng-click="removeServer(server)"><span class="glyphicon glyphicon-trash"></span></button>
                </th>
            </tr>
        </tbody>
    </table>
    <div ng-if="props.empty">
        You dont have any servers registered. Please, register them in the button below.
    </div>
</div>

<div class="footer">
    <div align="center">
        <button ng-click="addServer(this)" class="btn btn-primary footer-btn"><span class="glyphicon glyphicon-plus"></span> Add Server</button>
    </div>
</div>
