<div class="main main-background">
	<div class="main-header">
		<div class="config">
			<span class="clickable" ng-click="changePage()">
				<span class="clickable glyphicon glyphicon-cog"></span>
			</span>
		</div>
		<div align="center" class="title">
            <b>{{selected.name}}</b>
            <p ng-if="!selected || !selected.name">You haven't select a server. Please choose one from the list on your left.</p>
		</div>
	</div>

    <div ng-controller="ContentCtrl as cc">
        <div class="outer-graph-frame" ng-repeat="graph in sharedData.collectedAttrs track by $index">
            <div class="graph-width inner-graph-frame" ng-attr-id="{{ 'container' + $index }}"></div>
        </div>
        <br><br>
    </div>
</div>
