<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" ng-show="!edit">Add Server</h4>
</div>
<form ng-keyup="$event.keyCode == 13 && submit()">
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 control-label"><span class="required-color" uib-popover="Required" popover-trigger="mouseenter" popover-append-to-body="true">*</span> Server Name:
            </div>
            <div class="col-xs-8">
                <input class="form-group form-control" type="text" ng-model="server.name"/>
            </div>

            <div class="col-xs-4 control-label"><span class="required-color" uib-popover="Required" popover-trigger="mouseenter" popover-append-to-body="true">*</span>
                <span uib-popover="Username to access the server" popover-trigger="mouseenter" popover-append-to-body="true"> Username: </span>
            </div>
            <div class="col-xs-8">
                <input class="form-group form-control" type="text" ng-model="server.username"/>
            </div>

            <div class="col-xs-4 control-label">
                <span uib-popover="Username to access the server" popover-trigger="mouseenter" popover-append-to-body="true"> Password: </span>
            </div>
            <div class="col-xs-8">
                <input class="form-group form-control" type="text" ng-model="server.password"/>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="submit()">Salvar</button>
</div>
